body, html {
    height: 100%
}

.container {
    display: grid;
    grid-template-columns: 2fr 10fr 10fr 2fr;
    grid-template-rows: 3em 2em 3fr 2fr;
    height: 80%;
}

.searchbar {
    grid-column: 2 / span 2;
    height: 100%;
}

.searchbar input {
    height: 100%;
    width: 100%;
    font-size: 1em;
}

.code-snippet {
    grid-column: 1 / span 2;
    height: 100%;
    overflow: scroll;
}

.example-title {
    grid-column: 1 / span 3;
    font-size: 25px
}

.description{
    grid-column: 2 / span 2;
    overflow:scroll; 
    border: 1px solid black
}

.suggestion {
    grid-column: 2 / span 1;
}

.demo {
    grid-column: 3 / span 2;
    border: 1px solid red;
    margin: 10px;
    overflow-y: scroll;
}

.title {
    text-align: center
}
