body, html {
    height: 100%
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 3em 2em 3fr 2fr;
    height: 100%;
}

.searchbar {
    grid-column: 1 / span 2;
    height: 100%;
}

.searchbar input {
    height: 100%;
    width: 100%;
    font-size: 1em;
}

.code-snippet {
    height: 100%;
    overflow: scroll;
}

.example-title {
    grid-column: 1 / span 2;
    font-size: 25px
}

.description{
    grid-column: 1 / span 2;
    overflow:scroll; 
    border: 1px solid black
}

.demo {
    border: 2px solid black;
    margin: 10px;
    overflow-y: scroll;
}

.title {
    text-align: center
}
